<div class="statistic__data flex--fsc <%= stat_dom_class %>">
  <div class="statistic__icon flex--cc">
    <%= icon "dashboard-line", class: "card--list__icon text-capitalrose fill-current", role: "img", "aria-hidden": true, remove_icon_class: true %>
  </div>
  <div>
      <span class="statistic__number">
    <%= stat_number %>
  </span>

    <h4 class="statistic__title text-black">
      <%= stat_title %>
    </h4>
  </div>
</div>
