<div class="flex flex--sc mb-s">
  <% custom_conference_types = Rails.application.secrets.custom_conference_types || [] %>
  <% custom_conference_types.each do |item| %>
    <% hashtag = item[:hashtag] %>
    <% if Decidim::Conference.exists?(Decidim::Conference.filtered_by_hashtag(hashtag)) %>
      <%= link_to I18n.t(item[:key], scope: "decidim.conferences.custom_conference_types"),
                  item[:url], class: "card__button button button--sc #{item[:key]}" %>
    <% end %>
  <% end %>
</div>
