<section id="active-processes" class="extended home-section">
  <div class="wrapper-home">
    <div class="row">
      <h3 class="section-heading"><%= t(".title") %></h3>
      <div class="row small-up-1 medium-up-3 home-bullets">
        <% (1..3).each do |i| %>
          <div class="column">
            <div class="card">
              <%= link_to link_url(i) do %>
                <% if (image_url = image_url_for(i)) %>
                  <%= image_tag image_url %>
                <% end %>
                <p><%= link_text(i) %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
