<section id="promo-video" class="extended home-section promo-video">
  <div class="row">

    <video controls width="100%" style="width: 100%;max-height: 100%;" autoplay muted>

      <source src="<%= video_url %>" type="video/mp4" />

      Download the <a href="<%= video_url %>">video</a>.
    </video>

  </div>
</section>
