// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
//
// By default this is empty
@import "../partials/footer";
@import "../partials/active_processes_card";

:root {
    --primary-color: rgb(81, 79, 154);
    --secondary-color: rgb(255, 255, 255);
}

a#hero-cta,
section#highlighted_content_banner a.button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

a#hero-cta:hover,
section#highlighted_content_banner a.button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);

}
