// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
//
// By default this is empty
@import "../partials/homepage";
@import "../partials/footer";

:root {
    --primary-color: rgb(81, 79, 154);
    --capital-blue: #3399DB;
}

@media (min-width: 768px){
    [data-target*=dropdown] {
        display: flex !important;
    }
}
.main-footer__language {
    z-index: 20;
    background-color: white;
    outline: none !important;
    width: 10rem;
   
    border-color: #E1E5EF;
}

.mobile_menu__language-container {
    padding-top: 12px;
    padding-bottom: 12px;
}

.partner-logo3 {
    height: 300px;
}

div#breadcrumb-main-dropdown-mobile {
    background-color: var(--capital-blue);
}

#home__menu {
    margin-bottom: 1px;
}

@media (max-width: 768px){
    .menu-bar__main-dropdown__menu li a{
        color: #ffff;
    }
}