// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
//
// By default this is empty
@import "../partials/footer";

:root {
    --primary-color: rgb(81, 79, 154);
}

section#highlighted_content_banner a.button {
    background-color: white;
    color: var(--primary-color);
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

section#highlighted_content_banner a.button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}