<section id="partner-logos" class="extended home-section partner-logos">
  <div class="wrapper-home">
    <div class="row column text-center">
      <h2 class="heading3"><%= I18n.t(".decidim.content_blocks.partner_logos.title") %></h2>
      <div class="row small-up-1 medium-up-3 home-bullets">
        <% partner_images.each do |image_path| %>
          <div class="column">
            <%= image_tag image_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
