#highlighted_conferences {
  background-color: #fff !important;
  .card {
    border: none;
  }
}

.card-data__item—multiple {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
}

svg.icon--arrow-thin-right.icon.icon--big.muted {
  width: 1.1em;
  height: 1.1em;
  margin: 0 1px;
}

@each $class, $color in $classes-colors {
  .button.#{$class} {
    @include button-styles($color);
  }

  .button.active-btn {
    opacity: 1;
  }

  .button.inactive-btn {
    opacity: 0.5;
  }

  .card.card--conference.#{$class} {
    @include card-styles($color);
  }

  .card__support.#{$class} {
    @include card-support-styles($color);

    .conference-button {
      @include link-styles($color);
    }
  }
}
