.card__button.ciutat {
  background-color: $capitalitat-rose !important;
  color: white !important;
}

.card__button.international {
  background-color: $capitalitat-blue !important;
  color: white !important;
}

.card__button.activitat {
  background-color: $capitalitat-orange !important;
  color: white !important;
}
