.main-footer__badge {
  display: block;
  width: 140px;
}

@media print, screen and (min-width: 64em) {
  .main-footer {
    position: relative;
  }
  .main-footer__badge {
    position: absolute;
    bottom: 6.5rem;
  }
}

.main-footer,
.mini-footer {
background-color: var(--primary-color) !important;
}

.main-footer__down,
.mini-footer {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.main-footer__down {
  border-top: none !important;
}

.footer-logo {
  display: flex;
  gap: 1rem;
  
  img {
    height: 50px;
  }

  svg.fill-current {
    display: none;
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.grid-footer-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  grid-gap: 1rem;

  @media (min-width: 40em) {
    grid-template-columns: repeat(12, 1fr);

    .column, .first-column {
      grid-column: span 3;
    }
    
    .middle-column {
      grid-column: span 6;
    }
  }
  
  svg.fill-current {
    display: none;
  }
}

.decidim-logo {
  display: block;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
}

.first-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .cc-badge {
    margin-right: 0.5rem;
    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      height: auto;
    }
  }
}