@media print, screen and (min-width: 64em) {
  .main-footer {
    position: relative;
  }
  .main-footer__badge {
    position: absolute;
    bottom: 7.5rem;
  }
}

.main-footer__badge {
  display: block;
  width: 140px;
}

.main-footer,
.mini-footer {
background-color: var(--primary-color) !important;
color: var(--secondary-color) !important;
}

.footer__logo-title {
  margin: 0;
  width: 150px;
  line-height: 1rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.02rem;
}

.footer-social__icon .icon {
  width: 26px;
  height: 26px;
}

@media print, screen and (min-width: 40em) {
  .logos img {
    margin-right: 1rem;
  }

  .logos img:last-child {
    margin-right: 0;
  }

  .footer-nav {
    padding-top: 0;
  }
}

.footer-logo {
  margin-right: 1rem;
  display: flex;
  
  img {
    height: 50px;
  }

  svg.fill-current {
    display: none;
  }
}

@media print, screen and (max-width: 40em) {
  .logos img,
  .logos a {
    margin-top: 2rem;
    height: 40px;
  }

  .logos a img {
    margin-top: 0;
  }

  .logos img:last-child {
    margin-right: 0;
  }

  .logos {
    flex-direction: column;
  }

  .main-footer__content {
    flex-direction: column-reverse;
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;

  
  @media (min-width: 40em) {
    grid-template-columns: repeat(12, 1fr);

    .column, .first-column {
      grid-column: span 3;
    }
    
    .middle-column {
      grid-column: span 6;
    }
  }
  
  svg.fill-current {
    display: none;
  }
}

.decidim-logo {
  display: block;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
}

.first-column {
  display: flex;
  
  .cc-badge {
    margin-right: 0.5rem;
  }
}