.main-footer__language {
    z-index: 21;
    background-color: white;
    outline: none !important;
    width: 10rem;
   
    border-color: #E1E5EF;
}
.main-footer__badge {
  display: block;
  width: 140px;
}

@media print, screen and (min-width: 64em) {
  .main-footer {
    position: relative;
  }
  .main-footer__badge {
    position: absolute;
    bottom: 6.5rem;
  }
}

.main-footer,
.mini-footer {
background-color: var(--primary-color) !important;
}

.main-footer__down,
.mini-footer {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.main-footer__down {
  border-top: none !important;
}

.footer-logo {  
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 40px;
    margin-right: 2rem;
  }

  svg.fill-current {
    display: none;
  }
}

@media print, screen and (min-width: 577px) {
  .footer-logo {
    align-items: normal;

    a {
      img {
        width: 160px;
        height: auto;
      }
      &:first-child {
        img {
          width: 200px;
        }
      }
    }
  }
}

.mini-footer__content {
  svg.fill-current {
    display: none;
  }
}

.decidim-logo {
  width: 140px;
}

.first-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  .cc-badge {
    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      height: auto;
    }
  }
}