$capitalrose: #E670A6;
$capitalblue: #3397D9;
$city: #E670A6;
$international: #3397D9;
$activity: #EB7329;
$black: #020203;

/* Remove gradient from hero image */
.extended-hero {
  &.hero__container {
    // background-size: cover;
    background-image: var(--hero-image);
  }
  .hero {
    gap: normal !important;
  }
}
.hero__title {
  font-weight: 400 !important;
  text-shadow: 1px 1px 5px #000;
}
.hero__subtitle {
  text-shadow: 1px 1px 5px #000;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* Remove gradient from newsletter call to action */
.home__section-image {
  background-image: var(--hero-image);
}
/* increase margins for newsletter call to action */
@media (min-width: 768px) {
  .home__section, .home .content-block {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
/* Log size */
@media (min-width: 1280px) {
  header .main-bar__logo {
    grid-column: span 3 / span 3;
  }
}
/* custom logos block */
#partner-logos {
  background-color: $capitalrose;

  div.wrapper-home {
    max-width: 1200px;
    margin: 0 auto;
    background-color: $capitalrose;
  }
}

.border-city {
  @apply border-[#{$city}];
}

.boder-international {
  @apply border-[#{$international}];
}

.border-activity {
  @apply border-[#{$activity}];
}

.statistic__number {
  @apply text-[#{$capitalblue}];
}
