/* Remove gradient from hero image */
.extended-hero {
  &.hero__container {
    // background-size: cover;
    background-image: var(--hero-image);
  }
  .hero {
    padding: 8rem 0 !important;
    gap: normal !important;
    height: auto !important;
  }
}
.hero__title {
  font-weight: 400 !important;
  letter-spacing: 0.1;
  font-size: 3rem;
  line-height: 1.2;
}
.hero__subtitle {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* Remove gradient from newsletter call to action */
.home__section-image {
  background-image: var(--hero-image);
}
/* increase margins for newsletter call to action */
@media (min-width: 768px) {
  .home__section, .home .content-block {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
/* Log size */
@media (min-width: 1280px) {
  header .main-bar__logo {
    grid-column: span 3 / span 3;
  }
}
/* custom logos block */
#partner-logos {
  .wrapper-home {
    max-width: 1200px;
    margin: 0 auto;
  }
}

//  Decidim fix for https://github.com/decidim/decidim/pull/12559
[data-dialog] > * {
  --tw-translate-x: -50%;
}