.democracy-innovation {
  background-color: $capitalitat-violet;
  padding: 4rem 0;
}

.democracy-innovation .button {
color: #ffffff;
  border-color: #fff;
}

.democracy-innovation {
  color: #ffffff;
}

.democracy-innovation .heading3 {
  margin-bottom: 2rem;
}
