.promo-video {
  background-color: $capitalitat-violet !important;
  padding: 4rem 0;
  @media print, screen and (max-width: 40em) {
    padding: 0;
  }
}

.democracy-innovation {
  background-color: $capitalitat-violet !important;
  padding: 4rem 0;
  color: #ffffff;

  .button {
    color: #ffffff;
    border-color: #fff;
  }

  .heading3 {
    margin-bottom: 2rem;
  }
}

.partner-logos {
  h2 {
    color: #fff;
  }
  .home-bullets {
    .column {
      margin: 2rem 0;
    }
  }
  background-color: $capitalitat-violet !important;
  .column img {
    height: 70px;
  }
  .column {
    @media print, screen and (max-width: 40em) {
      margin-top: 2rem;
      img {
        height: 50px;
      }
    }
  }
  .full-height {
    .column {
      padding-right: 2rem;
      padding-left: 2rem;
      img {
        height: auto;
      }
    }
  }
}
