.main-nav__link a {
	color: #fff;
}
.topbar__search {
	button {
	  background: $capitalitat-blue;
	}
	.input-group-field {
		border: 1px solid $capitalitat-violet !important;
	}
}
.hide-for-medium {
 .topbar__search {
	.input-group-field {
		border: none !important;
	}
 }
}
.topbar__search:not(:focus-within) button {
  background-color: rgba(255, 255, 255, 0.02);
  color: #fff;
  filter: none;
}
.title-bar a:focus, .title-bar .button:focus, .title-bar .meeting-polls__button:focus {
  outline-color: $capitalitat-violet;
}
@media print, screen and (min-width: 40em) {
  .topbar__search:not(:focus-within) button {
    background: $capitalitat-violet;
  }
}