@media print, screen and (min-width: 40em) {
  .home-stats__highlight .statistic__data {
    border-bottom: none;
  }
}

.home-stats__highlight .statistic__data:nth-child(odd) {
  border-right: none;
}

.statistics-cell .statistic__number {
  color: $capitalitat-blue;
  font-weight: 400;
}

.statistics-cell .statistic__title {
  text-transform: lowercase;
}

.statistic__icon {
  height: 100%;
  width: 50%;
}

.card--list__icon {
  fill: $capitalitat-rose;
  height: 50%;
  width: auto;
}

.statistic__title,
.statistic__number {
  text-align: left;
  display: block;
}

.home-stats__lowlight .statistic__icon {
  display: none;
}
