@media print, screen and (min-width: 40em) {
  .home-stats__highlight .statistic__data {
    border-bottom: none;
  }
}

.home-stats__highlight .statistic__data:nth-child(odd) {
  border-right: none;
}

.statistics-cell .statistic__number {
  color: $blue;
  font-weight: 400;
}

.statistics-cell .statistic__title {
  text-transform: lowercase;
}
