$capitalitat-violet: #524F9F;
$capitalitat-rose: #E670A6;
$capitalitat-blue: #3397D9;
$capitalitat-brown: #5E3836;
$capitalitat-red: #E33B29;
$capitalitat-orange: #EB7329;
$black-font: #000;
$grey-color: #EDEDED;
$classes-colors: (
        city: $capitalitat-rose,
        international: $capitalitat-blue,
        activity: $capitalitat-orange
);

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.woff2') format('woff2'),
       url("fonts/Inter-Regular.otf") format('otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Italic.woff2') format('woff2'),
      url("fonts/Inter-Italic.otf") format('otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Galano';
  src: url("fonts/GalanoGrotesque-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Galano';
  src: url("fonts/GalanoGrotesque-SemiBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}

@mixin button-styles($color) {
  background-color: $color;
  color: white;
}

@mixin card-styles($color) {
  border: 1px solid $color;
}

@mixin card-support-styles($color) {
  background-color: $color;
}

@mixin link-styles($color) {
  background-color: white;
  color: $capitalitat-violet;
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 576px) {
      @content;
    }
  }
  @else if $breakpoint == medium {
    @media (min-width: 577px) and (max-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == mediumlarge {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $breakpoint == large {
    @media (min-width: 1025px) {
      @content;
    }
  }
}
