$violet: #524FA1;
$rose: #E870A8;
$blue: #3399DB;
$black-font: #000;
$grey-color: #EDEDED;

@font-face {
  font-family: 'Inter';
  src: url("fonts/Inter-Regular.otf") format('otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("fonts/Inter-Italic.otf") format('otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Galano';
  src: url("fonts/GalanoGrotesque-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Galano';
  src: url("fonts/GalanoGrotesque-SemiBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}
